mat-tab-group {
    margin: -16px;
  }
  
  form {
    padding: 16px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .formFields {
    margin-bottom: 8px;
  }

  .mat-dialog-content {
    display: inline;
    width: 100%;
    overflow: auto;
  }

  h3{
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  
  @media (max-width: 599px) {
    .forgotPassword {
      cursor: pointer;
      color: seagreen;
      width: 60%;
    }
  }
  
  @media (min-width: 600px) {
    .forgotPassword {
      cursor: pointer;
      color: seagreen;
      width: 25%;
    }
  }
  